/* General Styles */
body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #eea7ef;
}

main {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: #f7e6e6;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
  color: #0056b3;
  font-weight: bold;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  margin-top: 15px;
  margin-bottom: 10px;
}

img {
  max-width: 40%; /* Cambiado a 80% para hacer las imágenes más pequeñas */
  height: auto;
  border-radius: 8px;
  display: block;
  margin: 0 auto 20px;
}

p {
  line-height: 1.6;
  margin-bottom: 20px;
}

ol, ul {
  margin-left: 20px;
  margin-bottom: 20px;
}

ol li, ul li {
  margin-bottom: 10px;
}

a {
  color: #0056b3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f4f4f4;
}

@media (max-width: 768px) {
  h1 {
      font-size: 2em;
  }

  h2 {
      font-size: 1.5em;
  }

  h3 {
      font-size: 1.2em;
  }
img {
  max-width: 50%;
}
